extends layout

block content
  link(rel="stylesheet", href="/styles/home.css")
  header 
    span.spanHeader 
      a.link.colorLink(href="/") FakeFacebook 
    .btns 
      button.btn.btnheader
        a(href="/friends") 
          img(src="https://i.ibb.co/4Jhwxtx/friends.png", alt="friends")
      button.btn.btnheader 
        a(href="/users") 
          img(src="https://i.ibb.co/yFLvSXX/friends-1.png", alt="addfriends")
      button.btn.btnheader 
        a(href="/logout") 
          img(src="https://i.ibb.co/qWMt1h2/logout.png", alt="logout")
  .div 
    .left 
      h1.titleLeftH1 Friend requests
      .cardUsers
        each response in results.user.response
          form(action="/acceptFriend", method="post").card 
            img.cardImg(src=response.photo, alt="userphoto")
            span.username= response.username 
            input(type="hidden", name="id" value=response._id)
            button#acceptFriend(type = 'submit').btn.cardbtn Accept
    .body 
      form#form(action="/", method="POST") 
        textarea#text(placeholder="En que estas pensando?" name="text", cols="30", rows="5" ) 
        button.btnSubmit.btn(type="submit") Submit
      
      each post in results.post
        .thepost 
          .post 
            .postTitle 
              .titleLeft
                img.postImg(src=post.user.photo, alt="userphoto")
                span.usernameTitle= post.user.username
              span= post.fecha
            span.postText= post.text
          
          each coment in post.coment
            .coment
              img.comentImg(src=coment.user.photo, alt="userphoto")
              .boxComentary 
                span.comentUsername= coment.user.username
                span.comentText= coment.text

          .coment
            img.comentImg(src=results.user.photo, alt="userphoto")
            form(action="/addComent", method="post").boxComentary  
              span.comentUsername= results.user.username
              textarea#coment(name="text", cols="50", rows="2") 
              input(type="hidden", name="postid" value= post._id)
              button(type = 'submit').btn.comentSubmit Submit

    .rigth
      .boxUserProfile 
        img.userImg(src=results.user.photo, alt="userphoto")
        span.userRigth= results.user.username
        button.btn.btnRigth  
          a.link.linkRigth(href="/logout") Logout

      button.btn.btnAddFriend
        a.link.linkRigth(href="/users") Add Friend
  script(src="/scripts/home.js") 